<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" >
<head>
  <meta charset="UTF-8">
  <title>Create User</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/contacts/all">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacts/add">Add Contact</a>
          </li>
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
          </form>

        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container-fluid">
  <h2>Create User</h2>
  <form action="#" th:action="@{/users/register}" th:object="${user}"  method="post">
    <label>First Name :</label>
    <input class="form-control" type="text" th:field="*{firstname}" />
    <label>Last Name :</label>
    <input class="form-control" type="text" th:field="*{lastname}" />
    <label>Email :</label>
    <input class="form-control" type="email" th:field="*{email}" />
    <label>Password :</label>
    <input class="form-control" type="password" th:field="*{password}" />
    <label>Avatar :</label>
    <input class="form-control" type="text" th:field="*{avatar}" />
    <button type="submit" class="btn mt-3 btn-dark">Register</button>
  </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>